{% extends "global/Page.html" %}
{% load otree static %}


{% block content %}
	<h4> Please answer the following survey questions. If you would like to review the instructions, please scroll to the bottom of the page.</h4>
    
	<p> {% formfield player.gender label="What is your gender?" %} </p>
	
	<p> {% formfield player.age label="What is your age?" %} </p>
	
	<p> {% formfield player.ethnicity label="Please select the following choice that most closely represents your ethnicity." %} </p>
	
	<p> {% formfield player.marital_status label="Please select the following choice that most closely represents your marital status." %} </p>
	
	<p> {% formfield player.employment label="Are you currently employed?" %} </p>
	
	<p> {% formfield player.insurance label="Do you currently have health insurance?" %} </p>
	
	<p> {% formfield player.annual_income label="Please select the following category that most accurately describes your personal annual income." %} </p>
	
	<p> {% formfield player.hourly_wage label="What is your hourly wage rate? If you are on salary, you can find this by dividing your yearly salary by the number of hours you work in a week and dividing that result by the number of weeks you work per year." %} </p>	

	<p> {% formfield player.credit_card label="Do you have a credit card?" %} </p>

	<p> {% formfield player.smoke label="Do you smoke?" %} </p>

	<p> {% formfield player.alcohol label="Do you consume alcohol?" %} </p>

	<p> {% formfield player.participant_education label="What is the highest grade you completed in school?" %}</p>
	
	<p> {% formfield player.parent_education label="What is the highest grade completed by the most educated of your parents?" %}</p>
			
	<p> {% formfield player.experimentplay label="Have you ever participated in an economics experiment?" %} </p>

	<h5>Please think about your decisions during the experiment.  Please rank how you feel about the statements below.</h3>

	<div>
		<p>
			{{ form.regret_one.label }}
		</p>
		<p>
			{{ form.regret_one }}
		</p>
	</div>
	<hr>
	<div>
		<p>
			{{ form.regret_two.label }}
		</p>
		<p>
			{{ form.regret_two }}
		</p>
	</div>
	<hr>
	<div>
		<p>
			{{ form.regret_three.label }}
		</p>
		<p>
			{{ form.regret_three }}
		</p>
	</div>
	<hr>
	<div>
		<p>
			{{ form.regret_four.label }}
		</p>
		<p>
			{{ form.regret_four }}
		</p>
	</div>
	<hr>

	{% next_button %}

{% endblock %} 