{% extends "contest_with_damage/Page.html" %}
{% load otree %}

{% block content %}
    <div id="row1">
    <div id="column1">
    <p>
        The value of the item is {{Constants.item_value}}.
    <br>
        The current round is {{player.round_number}}.
    </p>

    <p>
        Please make your bid now. The amount can be between {{ Constants.min_allowable_bid }} and {{ Constants.max_allowable_bid }}.
    </p>

{% formfield player.bid_amount label="Bid amount" %}
  {% next_button %}
    </div>

        <div id="column2">

        <table class="table">
            <tr>
                <th>Round</th>
                <th>Did you obtain the good?
                <th>Your Bid</th>
                <th>Your Loss Factor</th>
                <th>Loss Resulting from Other's Bid</th>
                <th>Your Payoff</th>


            </tr>
            {%if player.round_number != 1%}
            {% for p in player_history %}
            {% if not forloop.last%}
                <tr>

                    <td>{{p.round_number}}</td>
                    <td>{%if p.is_winner%} You Won! {% else %} You Lost. {% endif %}</td>
    				        <td>{{p.bid_amount}}</td>
                    <td>{{p.loss_factor}}</td>
                    <td>{{p.loss_from_others_bid}} </td>
                    <td>{{p.round_payoff}}</td>


                </tr>
              {%endif%}

            {% endfor %}
            {%endif%}
        </table>
        </div>
        <div id="column3">
            <table class="table">
                <tr>
                  <th>Other's Bid</th>
                  <th>Other's Loss Factor</th>
                  <th>Other's Loss From Your Bid</th>
                  <th>Other's Payoff</th>
                </tr>

            {% for o in partner_history %}
            {%if not forloop.last%}
            <tr>
               <td>{{o.bid_amount}}</td>
               <td>{{o.loss_factor}}</td>
               <td>{{o.loss_from_others_bid}}</td>
               <td>{{o.round_payoff}}</td>
             </tr>
             {%endif%}
            {%endfor%}
            </table>
        </div>

</div>
{%endblock%}
