{% extends "global/Page.html" %}
{% load otree static %}

{% block styles %}
<style type="text/css">
            body {
font-size: 150%;
                }
            img.disabled:hover {
			cursor:not-allowed
		}
		img.disabled {
			width: 33%;
			height: 33%;
		}
    </style>
{% endblock %}
{% block content %}
	<B><P>USING MONEY</P></B>
	<img class="disabled" title="DO NOT OPEN YET!" onclick="alert('Sorry, you can\'t open the envelope at this time.');" src="{% static "global/envelope_crop2.jpg" %}"/></br></br>
	<p>
		You have the opportunity to use {{ investment_cost | c}} to reduce the consequences if the card in the envelope happens to be RED. If the card happens to be RED and you use the {{ investment_cost | c}}, the grids are worth {{ investment_effectiveness | c }} each.  If the card happens to be RED and you do not use the {{ investment_cost | c}}, grids are worth {{red_card_modifier | c}}.
		If the card happens to be GREEN, the grid earnings remain at $0.15 each with or without using {{ investment_cost | c}}. <br><br>
	</p>

		<img src="{% static "imginvpg05.JPG" %}" onerror="alert('Image Invpg Error')" height="152" width = "708"	 >
	
	
	<p>	
		{% formfield player.investment_choice label = "Would you like to use $3.80 to reduce the consequences if the card in the envelope happens to be RED?" %}
		
		
    </p>
    {% next_button %}
{% endblock %}
