{% extends "global/Page.html" %}
{% load otree static %}

{% block styles %}
<style type="text/css">
            body {
font-size: 150%;
                }
            img.disabled:hover {
			cursor:not-allowed
		}
		img.disabled {
			width: 33%;
			height: 33%;
		}
    </style>
{% endblock %}
{% block content %}
	<B><P>INFORMATION ABOUT THE COLOR OF YOUR CARD</P></B>
	<img class="disabled" title="DO NOT OPEN YET!" onclick="alert('Sorry, you can\'t open the envelope at this time.');" src="{% static "global/envelope_crop2.jpg" %}"/></br></br>
	<p>
        The information says the color of your card is {{ message_color }}.
        
        This information is correct {{accuracy_level}}% of the time.
		
    </p><br>
    {% next_button %}
{% endblock %}