{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
{% endblock %}
{% block styles %}
<style type="text/css">
            body {
font-size: 150%;
                }
            img.disabled:hover {
			cursor:not-allowed
		}
		img.disabled {
			width: 33%;
			height: 33%;
		}
    </style>
{% endblock %}

{% block content %}
	<img class="disabled" title="DO NOT OPEN YET!" onclick="alert('Sorry, you can\'t open the envelope at this time.');" src="{% static "global/envelope_crop2.jpg" %}"/></br></br>
	<p> <b>STAGE 1 </b></p>
	<p>
		During this stage, a grid with rows of zeros and ones will appear on the screen. Your task is to count the number of ones in the grid. You will earn $0.15 per grid counted correctly and continue until you earn $4.20 (by completing 28 grids). If at any point you would like to surf the Internet, feel free to do so <b>in a separate tab</b>! Remember to complete 28 grids.
	</p><br>
		
		
	{% next_button %}

{% endblock %}